body {
	font-family: arial;
}

h1.heading{
	margin-bottom: 0;
}

h4.detail {
	margin-top: 5px;
	margin-bottom: 5px;
}

.warn{
		color: red;
}

#apps{
		overflow: auto;
		position: fixed;
}

#notes{
		float: left;
		width: 45%;
		margin-left:35px;
}

#rdio {
		float: left;
		margin-left:25px;
}

#filterbox {
	clear:both;margin:10px 25px;
}

#rdio-library {
	overflow: auto;
	width: 100%;
	height: calc(100% - 220px);
	margin-bottom: 10px;
	margin-top: 10px;
		position: relative;
		top: 220px;
}

#rdio-library .album{
	float: left;
	width: 250px;
	min-height: 300px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: center;
}

#rdio-library .album-art.added,
#rdio-library .album-art.not-found{
	opacity: 0.25;
	position: relative;
}

#rdio-library .album-art.added::before{
	content: 'Added';
}

#rdio-library .album-art.not-found::before{
	content: 'Not Found';
}

#rdio-library .album-art.added::before,
#rdio-library .album-art.not-found::before{
	position: absolute;
	top: 10px;
	left: 70px;
	font-weight: bold;
	color: ivory;
}

#rdio-library .album .album-art{
	min-height: 200px;
	min-width: 200px;
	padding-bottom: 5px;
	position: relative;
}

#rdio-library .album .album-art .export{
	position: absolute;
	top: 10px;
	left: 40px;
	
	/* All browsers except webkit*/
			transform: scale(2);

			/* Webkit browsers*/
		 -webkit-transform: scale(2);
}

#rdio-library .album .album-name{
	font-weight: bold;
	font-size: 0.9em;
}

#rdio-library .album .artist{
	color: silver;
	font-size: 0.8em;
}

#rdio-library .album .app-link{
		font-size: 0.8em;
		margin-top: 5px;
}

#spotify{
		float: left;
		margin-left: 100px;
}

#spotify img.logo{
		height: 65;
}

#spotify button.save{
	margin-bottom: 10px;
}