#rdio-library {
	overflow: auto;
	width: 1100px;
	height: 400px;
}

#rdio-library .album{
	float: left;
	width: 250px;
	min-height: 260px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: center;
}

#rdio-library .album .album-art{
	min-height: 200px;
	min-width: 200px;
	padding-bottom: 5px;
}

#rdio-library .album .album-name{
	font-weight: bold;
	font-size: 0.9em;
}

#rdio-library .album .artist{
	color: silver;
	font-size: 0.8em;
}