<div>
    <img class="logo"  src="images/spotify.jpg" />
    <h4 class="detail" ng-class="{'warn': spotify.warn}">Albums ({{spotify.getAlbumCount()}}) Tracks ({{spotify.getTrackCount()}})</h4>
    <hr/>
    <button ng-click="spotify.goToSpotify()" ng-if="spotify.connect">Connect to Spotify <i class="fa fa-plug"></i></button>
    <span ng-if="spotify.isConnected()">
        <button class="search" ng-click="spotify.searchSpotify($event)" ng-bind-html="spotify.btnTxt" title="Search to find matches for your library"></button>
        <!-- <button ng-click="spotify.sync($event)" ng-bind-html="spotify.syncBtnTxt" title="After a search is performed use this to see if anything found is in your library"></button> -->
    </span>
    <div ng-if="spotify.isConnected()">
        <hr/>
        <div>
            <button ng-click="spotify.select(true)">Select All Albums <i class="fa fa-check-square-o"></i></button>
            <button ng-click="spotify.select(false)">No Albums Selected <i class="fa fa-square-o"></i></button>
        </div>
        <hr/>
        <div>
            <label class="filter"><input type="checkbox" ng-click="spotify.filterNotFound($event)" /><i class="fa fa-filter"></i>Show Only Albums "Not Found"</label>  
        </div>
        <div>
            <label class="filter"><input type="checkbox" ng-click="spotify.filterNotAdded($event)"/><i class="fa fa-filter"></i>Show Only Albums "Not Added Yet"</label>
        </div>
        <hr/>
        <button class="save" ng-click="spotify.saveToSpotify($event)" ng-bind-html="spotify.saveBtnTxt" title="Save selected albums to Spotify"></button>
    </div>
</div>