<div>
    <img class="logo"  src="images/spotify.jpg" /><br/>
    <button ng-click="spotify.goToSpotify()" ng-if="spotify.connect">Connect to Spotify</button>
    <button class="search" ng-click="spotify.searchSpotify($event)" ng-bind-html="spotify.btnTxt"></button>
    <button class="save" ng-click="spotify.saveToSpotify($event)" ng-bind-html="spotify.saveBtnTxt"></button>
    <hr/>
    <div>
        <label><input type="checkbox" name="selected" ng-click="spotify.select($event)" />Select All Albums</label>
    </div>
    
    <h4 class="detail" ng-class="{'warn': spotify.warn}">Albums ({{spotify.getAlbumCount()}})</h4>
    <h4 class="detail" ng-class="{'warn': spotify.warn}">Tracks ({{spotify.getTrackCount()}})</h4>
</div>