<div>
    <img class="logo"  src="images/spotify.jpg" /><br/>
    <button ng-click="spotify.goToSpotify()" ng-if="spotify.connect">Connect to Spotify</button>
    <button class="search" ng-click="spotify.searchSpotify($event)">{{spotify.SEARCH_SPOTIFY}}</button>
    <hr/>
    <div>
        <button class="save" ng-click="spotify.saveToSpotify($event)">{{spotify.SAVE_SPOTIFY}}</button><br/> 
        <label><input type="radio" name="selected" ng-click="spotify.select(true)" />All Albums</label>
        <label><input type="radio" name="selected" ng-click="spotify.select(false)" />No Albums</label>
    </div>
    
    <h4 class="detail" ng-class="{'warn': spotify.warn}">Albums ({{spotify.getAlbumCount()}})</h4>
    <h4 class="detail" ng-class="{'warn': spotify.warn}">Tracks ({{spotify.getTrackCount()}})</h4>
</div>